body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button:hover,
button:focus,
button:active {
  outline: none !important;
}

a:hover {
  text-decoration: none !important;
}

select:focus {
  outline: none;
}

video:focus,
video:focus-visible {
  outline: none;
}

audio:focus,
audio:focus-visible {
  outline: none;
}
